extends ./base.pug
block content
  .container
    h3 Dodaj donacje
    form#confession(method="post")
        label(for="amount") Amount
        input(type="number", id="amount", name="amount")
        label(for="from") From
        input(name="from", id="from")
        label(for="message") Message
        input(name="message", id="message")
        button(type="submit") Wyślij

    h4 Donation intents
    .row
        ul
        each intent, index in donationIntents 
          li
            b Amount:
            | #{intent.amount}  
            b Username:
            | #{intent.username}: #{intent.message} 
            b Id: 
            | #{intent.intentId} 

    h4 Lista donacji
    .row
        ul
        each donate, index in donateList 
          li #{donate.amount} - #{donate.from}: #{donate.message} - #{donate.entryID}
