extends ./base.pug
block headstyle
    style.
        .form-check input {
            margin-right: 5px;
        }
        #custom-amount{
            margin-bottom: 15px;
        }
block content
    if client_secret
        .alert.alert-success
            strong Zachwile zostaniesz przekierowany na stronę płatności. Dziękujemy za wsparcie AMW
    if error
        .alert.alert-danger
            | #{error}
    p.info
    |Dziękuję za zainteresowałeś się wsparciem Anonimowych Mirko Wyznań. Przekazana donacja wraz z wiadomością zostanie dodana pod kolejnym dodanym wpisem po zaakceptowaniu.
    |Roczny koszt utrzymania Anonimowych Mirko Wyznań, wynosi 235zł. Jeśli chcesz wesprzeć projekt, możesz przekazać donację na tej stronie.
    br
    br
    h4 Przelewy24 (BLIK)
    form(method="post")#payment-form
        .form-group
            label(for='email') Email 
                span.text-danger *
            input.form-control#email(name='email', required)
        .form-group
            label(for='username') Nick
            input.form-control#username(name='username')
            small.form-text.text-muted (donacja zostanie podpisana jako "Anonim" jeśli nie wypełnisz tego pola)
        .form-group
            label(for='message') Wiadomość
            input.form-control#message(name='message')
        b Kwota donacji: 
        .form-check
            input.form-check-input(type='radio' id="amount1" name='amount' value='10' )
            label.form-check-label(for='amount1')
                | 10 PLN
        .form-check
            input.form-check-input(type='radio' id="amount2" name='amount' value='20' checked)
            label.form-check-label(for='amount2')
                | 20 PLN
        .form-check
            input.form-check-input(type='radio' id="amount3" name='amount' value='25')
            label.form-check-label(for='amount3')
                | 25 PLN
        .form-check
            input.form-check-input(type='radio' id="custom-amount-radio" name='amount' value='custom')
            label.form-check-label(for='amount4')
                | Inna kwota
            input.form-control#custom-amount(name='custom-amount', type='number', min="0")
        button.btn.btn-large.btn-success#submit-button Przekaż darowiznę
    br
    h4 PayPal
    form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
        input(type='hidden' name='cmd' value='_s-xclick')
        input(type='hidden' name='hosted_button_id' value='JAM3N3Y8UZ7DY')
        input(type='image' src='https://www.paypalobjects.com/pl_PL/PL/i/btn/btn_donate_LG.gif' border='0' name='submit' title='PayPal - The safer, easier way to pay online!' alt='Przekaż darowiznę za pomocą przycisku PayPal')
    |Jeśli chcesz wesprzeć projekt w inny sposób - 
    a(href='/contact') napisz!
block headscripts
    script(src='https://js.stripe.com/v3/')
block script
        script(type='text/javascript').
            const customAmountInput = document.getElementById('custom-amount')
            const customAmountRadio = document.getElementById('custom-amount-radio')
            customAmountInput.onclick = ()=>{
                customAmountRadio.checked = true
            }

            var stripe = Stripe('#{stripe_pub}');
            var client_secret = '#{client_secret}';
            var email = '#{email}';
            var return_url = '#{return_url}';
            if (client_secret) {
                stripe.confirmP24Payment(
                    client_secret,
                    {
                        payment_method: {
                            billing_details: {
                                email
                            }
                        },
                        return_url,
                    }
                ).then(function (result) {
                    console.log(result)
                    if (result.error) {
                        // Inform the customer that there was an error.
                    }
                });
            }